<h2 class="text-center">login</h2>
<form class="container" #loginForm="ngForm" novalidate (ngSubmit)='onLogin()'>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1"[(ngModel)]="loginUser.email" name="email" ngModel aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="loginUser.password" name="password" ngModel>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <h3>{{message}}</h3>
