<p>posts works!</p>
<!-- <div *ngFor='let post of posts'>
    {{"id is:   " + post.id }}<br>
    {{"title : " + post.title}}<br>
    {{"body: " + post.body}}
</div> -->
<div class="row row-cols-1 row-cols-md-3 g-4 mb-3 container" >
    <div class="col">
      <div class="card" *ngFor='let post of posts' [class.selected]="isSelected(post)">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{"title : " + post.title}}</h5>
          <p class="card-text">{{"body: " + post.body}}</p>
          <button type="button" class="btn btn-primary" (click)="goToComment(post)">comment</button>
        </div>
      </div>
    </div>
    <div *ngIf="error">{{ error }}</div>
   
    
  </div>