<h2 class="text-center">register</h2>
<form class="container">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">username</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="username">
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            wher you hear about us
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">facebook</a></li>
          <li><a class="dropdown-item" href="#"></a>twitter</li>
          <li><a class="dropdown-item" href="#"></a>google</li>
        </ul>
      </div>
    <button type="submit" class="btn btn-primary">register</button>
  </form>
