<h2 class="text-center">register</h2>
<form class="container" #registerForm="ngForm" name="registerForm" novalidate (ngSubmit)='onSubmit()'>
  <!-- {{registerForm.value | json}}  -->
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">username</label>
        <input type="text" class="form-control" pattern="^[A-Za-z]*$" [class.is-invalid]="name.invalid && name.touched" #name="ngModel" required [(ngModel)]="userModel.username" ngModel name="username" id="formGroupExampleInput" placeholder="username">
        <div *ngIf="name.errors &&  name.touched">
          <small class="text-danger" *ngIf="name.errors['required']">name is required</small>
          <small class="text-danger" *ngIf="name.errors['pattern']">name must be a valid name without numbers</small>
              <!-- {{email.errors|json}} -->
         </div>
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" [class.is-invalid]="email.invalid && email.touched" #email="ngModel" required ngModel name="email" [(ngModel)]="userModel.email" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div *ngIf="email.errors &&  email.touched">
        <small class="text-danger" *ngIf="email.errors['required']">email is required</small>
        <small class="text-danger" *ngIf="email.errors['pattern']">email must be a valid email pattern ex:ssfg@bnkl</small>
            <!-- {{email.errors|json}} -->
       </div>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" ngModel #password="ngModel" name="password" [class.is-invalid]="password.invalid && password.touched" [(ngModel)]="userModel.password" id="exampleInputPassword1" required>
      <small class="text-danger"[class.d-none]="password.valid || password.untouched" >password is required</small>
    </div>
    <div class="mb-3">
        <label for="confirmPassward" class="form-label">confirm Password</label>
        <input type="password" class="form-control" #confirmPassward="ngModel" ngModel name="confirmPassward" [class.is-invalid]="confirmPassward.invalid && confirmPassward.touched" [(ngModel)]="userModel.confirmPassward" id="confirmPassward" required>
        <small class="text-danger"[class.d-none]="confirmPassward.valid || confirmPassward.untouched" >confirmPassward is required</small>

      </div>
      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            wher you hear about us
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">facebook</a></li>
          <li><a class="dropdown-item" href="#"></a>twitter</li>
          <li><a class="dropdown-item" href="#"></a>google</li>
        </ul>
      </div> -->
      <div class="form-group">
        <select class="custom-select" ngModel #media="ngModel" name="ddlTopics" [(ngModel)]="userModel.ddlTopics">
            <option selected>
              -----please select option-----
            </option>

            <option *ngFor="let media of medias">
                {{media}}
            </option>
        </select>
        <small class="text-danger"[class.d-none]="media.valid || media.untouched" >select is required</small>

    </div>
    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid" [class.btn-danger]="registerForm.invalid">register</button>
  </form>
